/*---------- général ----------------------*/
.ombre {
  background-color: #fff;
  padding-right: 3em;
  padding-left: 3em;
  margin-bottom: 2em;
  -webkit-box-shadow: $ombre;
  -moz-box-shadow: $ombre;
  box-shadow: $ombre;
}

.smallcaps {font-variant: small-caps; /*si GillSans font-size: 0.85em;*/}

a, a:hover, a:focus, a:visited, a h4 {text-decoration: none !important;}

/*----------- titraille général ------------*/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
}
h1 {
  font-size: 2.857em;
}

h1#framasoft {
  font-family: "DejaVu Sans", Verdana, Geneva, sans-serif;
}

h3 {font-size: 1.714em;}
h4 {font-size : 1.3em;}

h1.sitename a, h4.titreFramaTrucs a,  a h4.titreBloc {
  text-decoration:none !important
}

.signature {
  font-style: italic;
  text-align:right;
  color:c(m, 7);
}

/*----------- couleurs ------------*/
.bleu   { color: $bleu !important; }
.rouge  { color: $rouge !important; }
.vert   { color: $vert !important; }
.jaune  { color: $jaune !important; }

.violet { color: $violet !important; }
.orange { color: $orange !important; }

/*---------- header ---------------------*/
.lead {
  color: c(g, 6);
  font-style: italic;
  font-size: 1.3em;
  margin: 0;
}

/*---------- navigation interne ---------------------*/
.row .navEntities { /*  .row = head */
  float: right;
  margin-bottom: 0;
  height: 20px;

  li {
    display: inline-block;
  }

  [title] {
    position: relative;

    &:hover:after {
      content: attr(title);
      position: absolute;
      top: 1.8em; right: -0em;
      white-space: nowrap;
      padding: 2px 8px;
      background: c(g, 3);
      color: c(g, 6);
      font-size: 0.9em;
    }
  }
}

.navEntities li a {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: block;
  border: none;
  border-radius: 50%;
  color: transparent;
}

.container > .navEntities { /* .container > = foot */
  position: relative;
  list-style-type: none;
  margin-top: -13.5em;
  margin-left: -2.2em;
  height: 172px;
  width: 21px;

  li {
    margin-top: 24px;

    a:hover {
      background: transparent url('../img/widgetsFrama.png') no-repeat scroll 0 0;
      background-color: transparent !important;
    }

    /* symbole ⇓ par défaut par tout
    * 1 = bleu, 2 = rouge, 3 = vert, 4 = jaune */
    &:nth-child(1) a {
      background-color: $bleu;
      &:hover { background-position: 0 -20px; }
    }
    &:nth-child(2) a {
      background-color: $rouge;
      &:hover { background-position: -44px -20px; }
    }
    &:nth-child(3) a {
      background-color: $vert;
      &:hover { background-position: -88px -20px; }
    }
    &:nth-child(4) a{
      background-color: $jaune;
      &:hover { background-position: -132px -20px; }
    }
  }

}

.row .navEntities { /* head */
  li {
    a {
      background: url('../img/widgetsFrama.png') no-repeat scroll 0 0 transparent;
      background-color: transparent !important;
    }

    &:nth-child(1) a {
      background-position: 0 0;
      &:hover { background-position: 0 -20px; }
    }

    &:nth-child(2) a {
      background-position: -44px 0;
      margin-left: 23px;
      &:hover { background-position: -44px -20px; }
    }

    &:nth-child(3) a {
      background-position: -88px 0;
      margin-left: 23px;
      &:hover { background-position: -88px -20px; }
    }

    &:nth-child(4) a {
      background-position: -132px 0;
      margin-left: 23px;
      &:hover { background-position: -132px -20px; }
    }
  }
}

/* topPgLogiciel symbole ⇔ sur bleu */
#topPglogiciel .navEntities li:nth-child(1) a {
  background-position: 0 -40px;
  &:hover{
    background-position: 0 -60px;
  }
}

/* topPgculture symbole ⇔ sur rouge */
#topPgculture .navEntities li:nth-child(2) a {
  background-position: -44px -80px;
  &:hover {
    background-position: -44px -100px;
  }
}

/* topPgcloud symbole ⇔ sur vert */
#topPgcloud .navEntities li:nth-child(3) a {
  background-position: -88px -120px;
  &:hover {
    background-position: -88px -140px;
  }
}

/* topPgcloud symbole ⇔ sur jaune */
#topPgvrac .navEntities li:nth-child(4) a {
  background-position: -132px -160px;
  &:hover {
    background-position: -132px -180px;
  }
}

/* topPgculture, Cloud Vrac, symbole ⇑ sur bleu */
#topPgculture, #topPgcloud, #topPgvrac {
  .navEntities li:nth-child(1) a {
    background-position: 0 -80px;
    &:hover {
      background-position: 0 -100px;
    }
  }
}

/* topPgcloud Vrac, symbole ⇑ sur rouge */
#topPgcloud, #topPgvrac {
  .navEntities li:nth-child(2) a {
    background-position: -44px -120px;
    &:hover {
      background-position: -44px -140px;
    }
  }
}

/* topPgvrac, symbole ⇑ sur vert */
#topPgvrac .navEntities li:nth-child(3) a {
  background-position:-88px -160px;
  &:hover {
    background-position:-88px -180px;
  }
}

/*-------------------- ContentAccueil ---------------*/

.accroche {
  font-size: 1.143em/1.7em;

  li {
    line-height: 2em;
  }
}

#news, .presentation {
  margin-top: 17px;
}

.blocSubTitle, .miniBlocSubTitle {
  font-weight: bold;
}

 /* Trait fin de § */
.miniBlocTexte:after {
  white-space:pre;
  content: " ";
  border-bottom: .75rem solid c(g, 2);
  display: block;
  max-width: 40px;
  line-height: .5;
  margin-bottom: .5rem;
}

#topPglogiciel .miniBlocSubTitle:before { color: $bleu; }
#topPgculture .miniBlocSubTitle:before  { color: $rouge; }
#topPgcloud .miniBlocSubTitle:before    { color: $vert; }
#topPgvrac .miniBlocSubTitle:before     { color: $jaune; }

/*-------------- les FramaTrucs-------------*/
.titreFramaTrucs {
  border-bottom: 2px solid c(g, 3);
  padding-top: 0.7em;
}

.listeFramaTrucs li, .FramaTrucs li {
  line-height: 24px;
  clear:both;
}

.titreFramaTrucs a:hover,
.listeFramaTrucs a:hover {
  text-decoration:none;
  color: $marron !important;
}

/*--------------------Illustrations -----------------*/
#full {
  h4 {
    border-bottom: 8px solid c(g, 3);
    padding-bottom: 6px;
    margin-bottom: 0.5em;
  }
}

.w-date, .w-board, .w-piaf, .w-listes, .w-talk,
.w-news, .w-bin, .w-pic, .w-link, .w-my, .w-wiki {
  visibility: hidden;
}