#home {
  font-size: 16px;

  .btn-soutenir {
    white-space: normal;
    max-width: 21em;
    font-size: 24px;
  }

  section {
    display: block;
    position: relative;
  }

  .pfooter {
    margin: 15px auto 0 ;
    padding-bottom: 30px;
    text-align: center;

    a {
      color: #fff;
      background: none;
      text-decoration: underline !important;
    }
  }

  .btn-circle .fa-stack-2x {
    box-shadow: $button-ombre;
    border-radius: 100%;
    background: c(g, 1);
  }

  #intro {
    background: url('../img/bg_pinchot.png') top center no-repeat,
      c(f, 7) linear-gradient(to top right,c(f, 7) 7%,c(f, 5) 100%);
    background-size: cover;
    padding-bottom: 40px;
    color: #fff;

    .btn-outline-secondary {
      background: #fff;
      &:hover {
        background-color: c(g, 6);
      }
    }
    .show > .btn-outline-secondary.dropdown-toggle {
      background-color: c(g, 6);
    }

    h1, h2 { color: #fff; }

    h2 {
      margin-bottom: 42px;
    }
    p {
      font-size: 24px;
      margin-bottom: 32px;
    }

    img {
      box-shadow: $img-ombre;
      background: c(g, 1);
      max-width: 400px;
      width: 80%;
    }
  }

  #more {
    .container-fluid {
      background: c(g, 1);
      padding: 60px 0px 90px;
    }

    a {
      color: c(d, 9);
    }

    @media (max-width: 768px) {
      .col-sm-3 {
        padding-bottom: 30px;
      }
    }
  }

  #dio {
    color: #fff;

    .btn-circle {
      position: absolute !important;
      left: calc(50% - 64px);
      top: -64px;
    }

    &:target {
      .btn-circle {
        display: none;
      }
    }

    h2 {
      color: #fff;
      text-shadow: 0px 0px 10px #000;
      font-size: 46px;
    }

    h3 {
      color: c(g, 1);
      font-weight: normal;
      // text-shadow: 0px 0px 5px #000;
      background: linear-gradient(to bottom, rgba(c(g, 8), 0.9) 7%,rgba(c(g, 9), 1) 100%);
      display: inline-block;
      padding: 0.3em;
      margin-left: -0.3em;
      border-radius: 10px;
      line-height: 1.3;
    }

    h4 {
      font-size: 4rem;
      font-weight: 400;
      color: #fff;

      .neon {
        font-size: 6rem;
      }
    }

    @media (max-width: 480px) {
      h4 {
        font-size: 3rem;
      }
    }

    h3 strong,
    .neon {
      font-weight: 400;
      color: #e6ff2e;
    }

    .container-fluid {
      padding-top: 120px;
      background: url('../img/Peha-Banquet-CC-By-1920.jpg') c(g, 8);
      background-size: cover;
      background-position: center;
      position: relative;

      &:before {
        position: absolute;
        content:"";
        top:0;
        left:0;
        width:100%;
        height:100%;
        opacity:0.3;
        background: c(d, 9);
      }

      > * {
        display: block;
        position: relative;
      }
    }

    .container.ombre {
      margin-top: 130px;
      background: linear-gradient(to bottom, rgba(c(g, 8), 0.9) 7%,rgba(c(g, 9), 1) 100%);
      margin-bottom: 5px;
      padding: 2em 0 2.5em;
      border-radius: 10px;
    }

    .col-sm-6 {
      min-height: 120px;
    }

    .carousel-3d-slide {
      background: transparent;
      border: none;
    }

    .prev, .next {
      color: #eee;
    }

    @media (max-width: 480px) {
      h2 {
        font-size: 32px;
      }

      .coverflow {
        margin-top: -20px;
      }
    }
  }

  #peertube {
    background: url('../img/peertube.png') center center no-repeat;
    > .embed-responsive {
      &:after {
        position: absolute;
        content:"";
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: rgba(51, 51, 51, 0.2) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWOIjs7/z8DAwICLJgyGhQkAFNQiQSF5mAcAAAAASUVORK5CYII=);
      }
    }

    .container.ombre {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 33%;
      height: auto;
      background: rgba(255, 255, 255, 0.9);
      padding-bottom: 20px;
    }

    @media (max-width: 993px) {
      .container.ombre {
        width: calc(100% - 100px);
      }
    }

    .pfooter {
      position: relative;
      margin-top: -60px;
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      height: 60px;
      background: rgba(255, 255, 255, 0.7);

      a {
        color: c(d, 9);
      }
    }

    .nav-pills {
      float:left;
      width: 10%;
      margin-top: 40px;
      margin-right: 20px;

      > li {
        float: none;
        border-right: 2px solid #737373;

        a {
          color: #211F20;
          font-size: 35px;
          line-height: 45px;
          background-color: transparent;
          color: #737373;
          font-weight: bold;
          border-radius: 0;
        }

        &.active {
          a {
            color: #F1680D;
          }

          &:after,
          &:before {
            left:100%;
            top:50%;
            border:solid transparent;
            content:" ";
            height:0;
            width:0;
            position:absolute;
            pointer-events:none
          }

          &:after {
            border-color:rgba(245,245,245,0);
            border-left-color:#f5f5f5;
            border-width:10px;
            margin-top:-10px
          }

          &:before {
            border-color:rgba(38,38,38,0);
            border-left-color: #555;
            border-width:12px;
            margin-top:-12px
          }
        }
      }
    }

    .tab-content {
      width: calc(90% - 20px);
      float: left;
    }

    h3 {
      color: #F1680D;
    }

    .modal {
      top: 40px;
    }

    .modal-header {
      background: #fff;
    }
    .modal-footer {
      border: none;
    }
    .modal-content {
      border-radius: 0;
    }
  }

  &.modal-open #peertube {
    > .embed-responsive iframe,
    .container.ombre {
      visibility: hidden;
    }
  }

  #mobilizon {
    > .embed-responsive {
      &:after {
        position: absolute;
        content:"";
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: rgba(51, 51, 51, 0.2) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWOIjs7/z8DAwICLJgyGhQkAFNQiQSF5mAcAAAAASUVORK5CYII=);
      }
    }

    .container.ombre {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 40%;
      height: auto;
      background: rgba(255, 255, 255, 0.9);
      padding-bottom: 20px;
    }

    @media (max-width: 993px) {
      .container.ombre {
        width: calc(100% - 100px);
      }
    }

    .pfooter {
      position: relative;
      margin-top: -60px;
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      height: 60px;
      background: rgba(255, 255, 255, 0.7);

      a {
        color: c(d, 9);
      }
    }
  }

  @media (max-width: 768px) {
    #peertube,
    #mobilizon {
      > .embed-responsive {
        display: none;
      }

      .container.ombre {
        position: relative;
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
        box-shadow: none;
        margin-bottom: 0;
        top: 0;
        right: 0;
      }

      .pfooter {
        height: auto;
        margin-top: 0;
      }
    }
  }

  #cuo {
    color: #fff;

    h2 {
      color: #fff;
      text-shadow: 0px 0px 8px darken(c(v, 9), .5);
      font-size: 50px;
    }

    h3 {
      color: #fff;
      text-shadow: 0px 0px 8px darken(c(v, 9), .5);
      font-size: 40px;
    }

    h4 {
      position: absolute;
      left: 1.5rem;
      top: -0.5rem;
      width: 6.5rem;
      height: 6.5rem;
      border-radius: 81% 75% 99% 71%;
      font-size: 1rem;
      font-weight: 700;
      padding: 2.6rem 0;
      text-transform: uppercase;
      z-index: 2;
    }

    .container-fluid {
      padding-top: 120px;
      background: url('../img/2_Essaimage_by-David-Revoy.jpg') #5b7d7c;
      background-size: cover;
      background-position: center;
      margin: 0;

      &:before {
        position: absolute;
        content:"";
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: transparent linear-gradient(
          to bottom,
          rgba(c(d, 9), .1) 70%,
          rgba(c(d, 9), .6) 100%
        );
      }

      > * {
        display: block;
        position: relative;
      }
    }

    .container.ombre {
      margin-top: 130px;
      background: rgba(255,255,255,0.5);
      color: c(d, 9);
      margin-bottom: 5px;
      padding: 30px 0;
    }

    .col-sm-4 {
      position: relative;
    }

    .close {
      position: absolute;
      float: none;
      left: calc(50% + 125px);
      top: 20px;
      z-index: 1;
      display:none;
    }

    .bigbubble {
      display: block;
      padding: 60px 20px;
      border: none;
      border-radius: 82% 62% 86% 61%;
      height: 300px;
      width: 300px;
      margin: 15px auto;
      font-size: 14px;
      transition: border-radius 0.5s;

      p {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0s 0s;
      }

      &:before {
        visibility: hidden;
        position: absolute;
        border-radius: 82% 62% 86% 61%;
        height: 300px;
        width: 300px;
        content:"";
        margin-left: -150px;
        top: 15px;
        background: rgba(245, 245, 245, 0.8);
        transition: border-radius 0.5s;
      }

      &:hover,
      &:focus {
        border-radius: 0;

        p, &:before {
          visibility: visible;
        }

        p {
          opacity: 1;
          transition: opacity 0.3s 0.3s;
          min-height: 92px;
        }

        &:before {
          border-radius: 0;
        }
      }

      > * {
        display: block;
        position: relative;
      }
    }

    div:nth-child(3) > .bigbubble {
      border-radius: 77% 100% 78% 99%;
      &:before { border-radius: 77% 100% 78% 99%; }

      &:hover,
      &:focus {
        border-radius: 0;
        &:before { border-radius: 0; }
      }
    }

    .bigbubble:focus ~ .close {
      display:block;
    }

    div {
      text-align: center;
      margin-bottom: 30px;
    }

    @media (max-width: 1200px) {
      .close {
        left: calc(50% + 140px);
      }

    }
    @media (max-width: 992px) {
      h3 {
        left: calc(50% - 210px);
      }

      .close {
        left: calc(50% + 120px);
        top: 10px;
      }

      .bigbubble:before {
        top: 15px;
      }
    }

    @media (max-width: 480px) {
      .bigbubble,
      .bigbubble:before {
        height: 240px;
        width: 240px;
        padding: 40px 20px;
        font-size: 13px;
      }

      .bigbubble:before {
        margin-left: -120px;
      }

      h2 {
        font-size: 35px;
      }

      h3 {
        font-size: 30px;
      }

      h4 {
        left: calc(50% - 190px);
      }

      .close {
        left: calc(50% + 95px);
        top: 10px;
      }
    }
  }

  .bubbles {
    background:transparent;
    border-radius:100%;

  }
  .bubbles:after {
    content:" ";
    background:transparent;
    border-radius:100%
  }
  $bbbleu: rgba(c(f, 2), .4);
  $bbrouge: rgba(c(f, 2), .4);
  $bbvert: rgba(c(f, 2), .4);

  #bubbles {
    width:16px;
    height:16px;
    box-shadow:611px 1535px $bbvert,1287px 980px $bbvert,810px 474px $bbvert,1037px 1730px $bbvert,503px 800px $bbvert,32px 942px $bbvert,173px 1796px $bbvert,950px 171px $bbvert,983px 729px $bbvert,1124px 1455px $bbvert,1646px 1742px $bbvert,769px 714px $bbvert,1236px 1295px $bbvert,328px 1970px $bbvert,1689px 1163px $bbvert,251px 730px $bbvert,1845px 936px $bbvert,1215px 537px $bbvert,1237px 385px $bbvert,748px 445px $bbvert,1026px 334px $bbvert,1168px 1687px $bbvert,217px 1116px $bbvert,47px 717px $bbvert,646px 1497px $bbvert,100px 999px $bbvert,237px 1292px $bbvert,891px 495px $bbvert,1521px 1193px $bbvert,735px 250px $bbvert,373px 1778px $bbvert,789px 510px $bbvert,533px 1313px $bbvert,72px 915px $bbvert
  }
  #bubbles2 {
    width:24px;
    height:24px;
    box-shadow:1016px 515px $bbrouge,801px 1742px $bbrouge,518px 63px $bbrouge,1739px 1383px $bbrouge,607px 1077px $bbrouge,667px 1622px $bbrouge,795px 1338px $bbrouge,990px 1275px $bbrouge,1208px 22px $bbrouge,1753px 1482px $bbrouge,1010px 1210px $bbrouge,632px 1538px $bbrouge,49px 1136px $bbrouge,387px 1695px $bbrouge,206px 1052px $bbrouge,493px 884px $bbrouge,156px 1794px $bbrouge,1391px 284px $bbrouge,595px 975px $bbrouge,193px 1554px $bbrouge,542px 1264px $bbrouge,21px 878px $bbrouge,831px 1591px $bbrouge,1735px 152px $bbrouge,1248px 431px $bbrouge,653px 1430px $bbrouge,71px 56px $bbrouge,920px 970px $bbrouge,445px 639px $bbrouge,249px 1022px $bbrouge,209px 1435px $bbrouge,1273px 1619px $bbrouge,327px 1330px $bbrouge
  }
  #bubbles3 {
    width:32px;
    height:32px;
    box-shadow:1393px 340px $bbbleu,886px 1010px $bbbleu,860px 47px $bbbleu,1229px 1103px $bbbleu,1228px 859px $bbbleu,1669px 893px $bbbleu,99px 1320px $bbbleu,879px 637px $bbbleu,1788px 1810px $bbbleu,1914px 1045px $bbbleu,1313px 242px $bbbleu,757px 1086px $bbbleu,1047px 629px $bbbleu,887px 1812px $bbbleu,384px 1427px $bbbleu,1459px 996px $bbbleu,1154px 1093px $bbbleu,1923px 681px $bbbleu,998px 56px $bbbleu,57px 969px $bbbleu,1311px 82px $bbbleu,1633px 820px $bbbleu,367px 1703px $bbbleu,786px 573px $bbbleu,839px 781px $bbbleu,865px 1073px $bbbleu,369px 1339px $bbbleu,1162px 360px $bbbleu,1499px 218px $bbbleu
  }
}