#partenaires {
  main img {
    object-fit: scale-down;
    background: #fff;
    border-radius: 100px;
    width: 200px;
    height: 200px;
  }

  h1, h2 { font-weight: normal; }

  h1.text-center::after {
    margin-left: auto;
    margin-right: auto;
  }

  h1::after {
    content: " ";
    border-bottom: 5px solid #725794;
    display: block;
    max-width: 80px;
    margin: .5rem 0 1.25rem;
        margin-right: 0px;
        margin-left: 0px;
  }

  h2 {
    &::after {
      content: none;
    }
  }

  #institutionnels {
    background: c(g, 2);

    img { border: 5px solid c(g, 3); }
    h1 {
      color: c(g, 8);

      &::after {
        border: 3px solid c(g, 8);
      }
    }
    h2 a { color: c(g, 7); }

    .row {
      border-top: 1px solid;
      border-image: radial-gradient(c(g, 7), transparent) 1;
    }
  }

  #associations {
    background: c(b, 2);

    img { border: 5px solid c(b, 3); }
    h1 {
      color: c(b, 8);

      &::after {
        border: 3px solid c(b, 8);
      }
    }
    h2 a { color: c(b, 7); }

    .row {
      border-top: 1px solid;
      border-image: radial-gradient(c(b, 7), transparent) 1;
    }
  }

  #communautes {
    background: c(f, 2);

    img {  border: 5px solid c(f, 3); }
    h1 {
      color: c(f, 9);

      &::after {
        border: 3px solid c(f, 9);
      }
    }
    h2 a { color: c(f, 8); }

    .row {
      border-top: 1px solid;
      border-image: radial-gradient(c(f, 8), transparent) 1;
    }
  }
}

small.date-ajout {
  display: none; // Don't show when they were added for now
}