<template>
  <div class="money">
    <b-card
      border-variant="light"
      no-body
    >
      <b-row class="m-0 pt-4">
        <b-col lg="6">
          <la-polar
            aria-hidden="true"
            class="d-block mx-auto"
            :colors="colors"
            :data="values"
            :height="290"
            :width="300"
          >
            <la-pie
              prop="pv"
              show-label
              label-prop="name"
              :radius="[60, 100]"
            />
          </la-polar>
        </b-col>

        <b-col lg="6">
          <ul class="d-block mx-auto px-0 list-unstyled text-left">
            <li
              v-for="i in values.length"
              :key="i"
              class="m-0"
            >
              <svg-icon
                name="circle"
                :variant="`fc-o${9 - i}`"
              />
              <span v-html="$t(`why.money.list[${i-1}]`)"></span>
              <b v-html="`${values[i-1].name}`"></b>
            </li>
          </ul>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import { Polar, Pie } from 'laue';

export default {
  components: {
    LaPolar: Polar,
    LaPie: Pie,
  },
  data: () => ({
    values: [
      { name: '70%', pv: 70 }, // Ressources humaines
      { name: '6%', pv: 6 }, // Serveurs et domaines
      { name: '6%', pv: 6 }, // Frais de fonctionnement
      { name: '10%', pv: 10 }, // Interventions et projets ext.
      { name: '2%', pv: 2 }, // Communication
      { name: '3%', pv: 3 }, // Achats de marchandise
      { name: '3%', pv: 3 }, // Frais bancaires
    ],
    colors: ['#9c3c1c', '#cc4e13', '#dd6418', '#fc8e3a', '#f6a055', '#fbc98d', '#fee7c8'],
  }),
};
</script>
