<template>
  <main>
    <intro />

    <more />

    <degooglisons />

    <peertube v-if="is.before('2019/10/15')" />

    <mobilizon v-if="!is.before('2019/10/15')" />

    <contributopia />

    <div
      id="support"
      class="container pt-5 px-md-0"
    >
      <soutenir
        @goToActions="actions = true; goTo('actions')"
        @goToLastyear="lastyear = true; goTo('lastyear')"
      />
    </div>

    <section
      v-show="actions"
      id="actions"
      class="fb-g6 py-5"
    >
      <b-container>
        <h1
          class="text-center mt-4 mb-5 fc-light"
          v-html="$t('why.maintitle')"
        ></h1>

        <h2
          class="fc-light mb-4"
          v-html="$t('why.actions.title')"
        ></h2>
        <b-row>
          <b-col
            v-for="index in Object.keys($t('why.actions.list'))"
            :key="index"
            lg="6"
            class="fc-light d-flex py-2"
          >
            <b-col
              cols="3"
              sm="2"
            >
              <svg-icon
                :name="['hiking','lightbulb','shapes','people-carry','cogs','moon'][index]"
                variant="circle fd-g4 fc-g2"
                size="lg"
              />
            </b-col>
            <b-col
              cols="9"
              sm="10"
            >
              <p v-html="$t(`why.actions.list[${index}]`)"></p>
            </b-col>
          </b-col>
        </b-row>
      </b-container>
    </section>

    <section
      v-show="lastyear"
      id="lastyear"
      class="fb-g2 py-5"
    >
      <b-container>
        <h2
          class="blocLarge"
          v-html="$t('why.numbers.title', { year: '2019' })"
        ></h2>

        <h3
          v-html="$t('why.numbers.subtitle')"
        ></h3>
        <b-row>
          <b-col
            v-for="n in 3"
            :key="n"
            md="4"
            class="py-4 d-flex flex-column"
          >
            <div
              aria-hidden="true"
              class="text-center"
            >
              <svg-icon
                :name="['home','users','r-file-alt'][n - 1]"
                variant="circle"
                size="lg"
              />
            </div>
            <div
              class="h-100"
              v-html="$t(`why.numbers.list${n}`, numbers)"
            ></div>
          </b-col>
        </b-row>
        <p
          class="text-right"
          v-html="$t('why.numbers.more')"
        ></p>

        <h3
          class="mt-4 mb-2"
          v-html="$t('why.money.title')"
        ></h3>
        <b-row class="pt-4">
          <b-col lg="4">
            <div
              v-html="$t('why.money.intro', { year: '2019' })"
            ></div>
          </b-col>
          <b-col lg="8">
            <Pie />

            <p
              class="mt-2 text-right small"
              v-html="$t('why.money.outro', { year: '2019' })"
            ></p>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </main>
</template>

<script>
import Intro from './home/Intro.vue';
import More from './home/More.vue';
import Degooglisons from './home/Degooglisons.vue';
import Peertube from './home/Peertube.vue';
import Mobilizon from './home/Mobilizon.vue';
import Contributopia from './home/Contributopia.vue';
import Soutenir from '../partials/Soutenir/Main.vue';
import Pie from '../partials/Soutenir/Pie.vue';

export default {
  components: {
    Intro,
    More,
    Degooglisons,
    Peertube,
    Mobilizon,
    Contributopia,
    Soutenir,
    Pie,
  },

  data() {
    return {
      numbers: {
        years: `<b>${this.$t('year.current') - 2001}</b>`,
        members: `<b>${this.$t('people.members')}</b>`,
        employees: `<b>${this.$t('people.employees')}</b>`,
        apps: '<b>±90</b>',
        projects: '<b>54</b>',
        services: '<b>37</b>',
        ucontrib: '<b>700</b>',
        usupport: '<b>2 352</b>',
        uvisits: '<b>4 000 000</b>',
        dlibre: '<b>960</b>',
        dblog: '<b>2 352</b>',
        events: '<b>100</b>',
      },
      actions: false,
      lastyear: false,
    };
  },

  methods: {
    goTo(target) {
      setTimeout(() => { this.$scrollTo(`#${target}`); }, 400);
    },
  },
};
</script>
