<template>
  <section id="more">
    <div class="container-fluid">
      <div class="container">
        <h2
          class="text-left"
          v-html="$t('home.more.title')"
        ></h2>
        <b-row>
          <b-col md="3">
            <svg-icon
              :name="$t('svg.libre')"
              size="lg"
              variant="circle p-3 mt-3 mb-2 fc-b7 fd-b6 d-block mx-auto"
            />
            <h3 v-html="$t('home.more.libre.title')"></h3>
            <p v-html="$t('home.more.libre.text')"></p>
          </b-col>
          <b-col md="3">
            <svg-icon
              :name="$t('svg.book')"
              size="lg"
              variant="circle p-3 mt-3 mb-2 fc-r8 fd-r7 d-block mx-auto"
            />
            <h3 v-html="$t('home.more.book.title')"></h3>
            <p v-html="$t('home.more.book.text')"></p>
          </b-col>
          <b-col md="3">
            <svg-icon
              :name="$t('svg.blog')"
              size="lg"
              variant="circle p-3 mt-3 mb-2 fc-f7 fd-f6 d-block mx-auto"
            />
            <h3 v-html="$t('home.more.blog.title')"></h3>
            <p v-html="$t('home.more.blog.text')"></p>
          </b-col>
          <b-col md="3">
            <svg-icon
              name="users"
              size="lg"
              variant="circle p-3 mt-3 mb-2 fc-o7 fd-o6 d-block mx-auto"
            />
            <h3 v-html="$t('home.more.confs.title')"></h3>
            <p v-html="$t('home.more.confs.text')"></p>
          </b-col>
        </b-row>
      </div>
      <p class="pfooter">
        <span v-html="$t('home.more.footer')"></span>
        <router-link
          :to="`/${$t('lang')}/full`"
          v-html="$t('home.more.link')"
        />
      </p>
    </div>
  </section>
</template>
