<template>
  <b-row class="mt-5 mx-0">
    <b-col
      lg="6"
      class="p-0"
    >
      <input
        id="copy"
        ref="copy"
        class="sr-only"
        aria-hidden="true"
        type="text"
        value=""
      />
      <div
        v-show="copied[0] !== 'd'"
        class="alert alert-secondary position-fixed fixed-top m-4 ml-auto"
        aria-hidden="true"
        style="z-index: 2000; width: 200px"
      >
        <svg-icon
          name="circle"
          :variant="`fc-${copied[0]}${copied[1]}`"
        />
        <b v-text="colors[copied[0]][copied[1] - 1]"></b> copié&nbsp;!
      </div>
      <table class="table table-borderless border-0">
        <caption class="sr-only">
          Palette de couleurs
        </caption>
        <thead>
          <tr>
            <th
              class="fb-g7 fc-light"
              scope="col"
            >
              <span class="name">Gris</span><br />
              <span>(g7)</span><br />
              <span class="hex">#4a5568</span>
            </th>
            <th
              class="fb-m7 fc-light"
              scope="col"
            >
              <span class="name">Marron</span><br />
              <span>(m7)</span><br />
              <span class="hex">#68524a</span>
            </th>
            <th
              class="fb-f7 fc-light"
              scope="col"
            >
              <span class="name">Violet</span><br />
              <span>(f7)</span><br />
              <span class="hex">#725794</span>
            </th>
            <th
              class="fb-b7 fc-light"
              scope="col"
            >
              <span class="name">Bleu</span><br />
              <span>(b7)</span><br />
              <span class="hex">#2c6a82</span>
            </th>
          </tr>
        </thead>
        <tbody class="text-monospace">
          <tr
            v-for="n in 9"
            :key="n"
          >
            <td
              v-for="c in Object.keys(colors).slice(0, 4)"
              :key="c"
            >
              <a
                :id="`color-${c}${n}`"
                href="#"
                class="d-block text-center"
                @click.prevent.stop="copyColor(c, n)"
              >
                <svg-icon
                  name="check"
                  :variant="`disc fd-d2 fb-${c}${n} ${
                    rlight[c][0] === n ? 'fc-light' : ''} ${
                    rdark[c][0] === n ? 'fc-dark' : ''} ${
                    rdark[c][0] !== n && rlight[c][0] !== n ? 'fc-0' : ''}`"
                  :label="colors[c][n - 1]"
                  sr-only
                />
                <span
                  v-if="rlight[c][0] === n"
                  class="sr-only"
                  v-text="'Ratio > 4.5:1 (fond blanc)'"
                ></span>
                <span
                  v-if="rdark[c][0] === n"
                  class="sr-only"
                  v-text="'Ratio > 4.5:1 (texte noir)'"
                ></span>
              </a>

              <b-popover
                :target="`color-${c}${n}`"
                triggers="hover focus"
                placement="topright"
              >
                <p>
                  <b>Hex&nbsp;:</b>
                  <span v-text="colors[c][n - 1]"></span>
                  <br />
                  <b>RGB&nbsp;:</b>
                  <span v-text="hex2rgb(colors[c][n - 1]).join(', ')"></span>
                  <br />
                  <b>HSV&nbsp;:</b>
                  <span v-text="hex2hsv(colors[c][n - 1]).join(', ')"></span>
                </p>
                <p>
                  <b>Accessibilité&nbsp;:</b>
                  <br />
                  <svg-icon
                    :name="rlight[c][0] <= n ? 'eye' : 'eye-slash'"
                    :variant="`disc fd-d3 fc-${c}${n} fb-light`"
                    :label="rlight[c][n]"
                  />
                  <svg-icon
                    v-if="rlight[c][0] <= n"
                    name="check"
                    label="AAA"
                  />
                  <svg-icon
                    v-if="headers[c] === n"
                    name="exclamation-triangle"
                    label="AA"
                    sr-only
                  />
                  <br />
                  <svg-icon
                    :name="rdark[c][0] >= n ? 'eye' : 'eye-slash'"
                    :variant="`disc fd-d3 fc-dark fb-${c}${n}`"
                    :label="rdark[c][n]"
                  />
                  <svg-icon
                    v-if="rdark[c][0] >= n"
                    name="check"
                    label="AAA"
                  />
                </p>
              </b-popover>
            </td>
          </tr>
        </tbody>
      </table>
    </b-col>
    <b-col
      lg="6"
      class="p-0"
    >
      <table class="table table-borderless border-0">
        <caption class="sr-only">
          Palette de couleurs
        </caption>
        <thead>
          <tr>
            <th
              class="fb-v6 fc-light"
              scope="col"
            >
              <span class="name">Vert</span><br />
              <span>(v6)</span><br />
              <span class="hex">#6c7e31</span>
            </th>
            <th
              class="fb-o7 fc-light"
              scope="col"
            >
              <span class="name">Orange</span><br />
              <span>(o6/<u>o7</u>)</span><br />
              <span class="hex">#cc4e13</span>
            </th>
            <th
              class="fb-r8 fc-light"
              scope="col"
            >
              <span class="name">Rouge</span><br />
              <span>(r8)</span><br />
              <span class="hex">#c42719</span>
            </th>
            <th
              class="fb-j7 fc-light"
              scope="col"
            >
              <span class="name">Jaune</span><br />
              <span>(j6/<u>j7</u>)</span><br />
              <span class="hex">#c47123</span>
            </th>
          </tr>
        </thead>
        <tbody class="text-monospace">
          <tr
            v-for="n in 9"
            :key="n"
          >
            <td
              v-for="c in Object.keys(colors).slice(4, 8)"
              :key="c"
            >
              <a
                :id="`color-${c}${n}`"
                href="#"
                class="d-block text-center"
                @click.prevent.stop="copyColor(c, n)"
              >
                <svg-icon
                  name="check"
                  :variant="`disc fd-d2 fb-${c}${n} ${
                    rlight[c][0] === n ? 'fc-light' : ''} ${
                    rdark[c][0] === n ? 'fc-dark' : ''} ${
                    rdark[c][0] !== n && rlight[c][0] !== n ? 'fc-0' : ''}`"
                  :label="colors[c][n - 1]"
                  sr-only
                />
                <span
                  v-if="rlight[c][0] === n"
                  class="sr-only"
                  v-text="'Ratio > 4.5:1 (fond blanc)'"
                ></span>
                <span
                  v-if="rdark[c][0] === n"
                  class="sr-only"
                  v-text="'Ratio > 4.5:1 (texte noir)'"
                ></span>
              </a>

              <b-popover
                :target="`color-${c}${n}`"
                triggers="hover focus"
                placement="topright"
              >
                <p>
                  <b>Hex&nbsp;:</b>
                  <span v-text="colors[c][n - 1]"></span>
                  <br />
                  <b>RGB&nbsp;:</b>
                  <span v-text="hex2rgb(colors[c][n - 1]).join(', ')"></span>
                  <br />
                  <b>HSV&nbsp;:</b>
                  <span v-text="hex2hsv(colors[c][n - 1]).join(', ')"></span>
                </p>
                <p>
                  <b>Accessibilité&nbsp;:</b>
                  <br />
                  <svg-icon
                    name="eye"
                    :variant="`disc fd-d3 fc-${c}${n} fb-light`"
                    :label="rlight[c][n]"
                  />
                  <svg-icon
                    v-if="rlight[c][0] <= n"
                    name="check"
                    label="AAA"
                  />
                  <svg-icon
                    v-if="headers[c] === n"
                    name="exclamation-triangle"
                    label="AA"
                  />
                  <br />
                  <svg-icon
                    :name="rdark[c][0] >= n ? 'eye' : 'eye-slash'"
                    :variant="`disc fd-d3 fc-dark fb-${c}${n}`"
                    :label="rdark[c][n]"
                  />
                  <svg-icon
                    v-if="rdark[c][0] >= n"
                    name="check"
                    label="AAA"
                  />
                </p>
              </b-popover>
            </td>
          </tr>
        </tbody>
      </table>
    </b-col>
  </b-row>
</template>

<style>
table .fa-stack {
  text-shadow: 0 0 1px #a0aec0;
  cursor: pointer;
}

.popover .fa-circle,
.fa-circle.fc-light {
  text-shadow: 0 0 1px #a0aec0;
}
</style>

<script>
export default {
  data() {
    const rdark = {};
    const rlight = {};
    const headers = {};
    const colors = {
      g: ['#f7fafc', '#edf2f7', '#e2e8f0',
        '#cbd5e0', '#a0aec0', '#677890',
        '#4a5568', '#2d3748', '#1a202c'],
      m: ['#fcf7f7', '#f7eeed', '#f0e5e2',
        '#e0cecb', '#c0a6a0', '#916f65',
        '#68524a', '#48342d', '#2c1f1a'],
      f: ['#fbf5ff', '#edd8fd', '#dcbcfa',
        '#c194f4', '#a87ede', '#977ac2',
        '#725794', '#50386e', '#3d2957'],
      b: ['#ebfdff', '#b4e8fa', '#7ddbf0',
        '#42c4e1', '#31acce', '#2b8fb0',
        '#2c6a82', '#2a5265', '#094157'],
      v: ['#fdfff0', '#dde69a', '#c5d368',
        '#a8bb48', '#889e3a', '#6c7e31',
        '#556727', '#465422', '#364219'],
      o: ['#fff9f0', '#fee7c8', '#fbc98d',
        '#f6a055', '#fc8e3a', '#dd6418',
        '#cc4e13', '#9c3c1c', '#7b2f1a'],
      r: ['#fff6f5', '#fedcd7', '#febbb2',
        '#fc8f81', '#f57665', '#e65740',
        '#d93e25', '#c42719', '#9c221c'],
      j: ['#fffbf0', '#fff2c2', '#ffdd82',
        '#f2b43f', '#e09731', '#d4820c',
        '#c47123', '#a3551d', '#853c17'],
      d: ['#ffffff', '#f1f1f1', '#e7e7e7',
        '#d3d3d3', '#acacac', '#767676',
        '#545454', '#363636', '#1f1f1f'],
    };
    Object.keys(colors).forEach((c) => {
      headers[c] = 1;
      rlight[c] = [1];
      rdark[c] = [1];
      for (let n = 1; n <= 9; n += 1) {
        if (headers[c] === 1 && this.a11y('#ffffff', colors[c][n - 1], 3, 4.51)) {
          headers[c] = n;
        }

        if (rlight[c][0] === 1 && this.a11y('#ffffff', colors[c][n - 1], 4.5, 20)) {
          rlight[c][0] = n;
        }
        rlight[c][n] = this.contrast(this.hex2rgb('#ffffff'), this.hex2rgb(colors[c][n - 1]))
          .toPrecision(3);

        if (this.a11y('#1f1f1f', colors[c][n - 1], 4.5, 20)) {
          rdark[c][0] = n;
        }
        rdark[c][n] = this.contrast(this.hex2rgb('#1f1f1f'), this.hex2rgb(colors[c][n - 1]))
          .toPrecision(3);
      }
    });

    return {
      copied: ['d', '1'],
      colors,
      headers,
      rdark,
      rlight,
    };
  },
  methods: {
    hex2rgb(hex) {
      return hex.replace(/^#?([a-f\d])([a-f\d])([a-f\d])$/i,
        (m, r, g, b) => ['#', r, r, g, g, b, b].join(''))
        .substring(1).match(/.{2}/g)
        .map(x => parseInt(x, 16));
    },
    rgb2hsv(rgb) { // https://stackoverflow.com/a/8023734
      const [r, g, b] = [rgb[0] / 255, rgb[1] / 255, rgb[2] / 255];
      let [rr, gg, bb, h, s] = [0, 0, 0, 0, 0];
      const [max, min] = [Math.max(r, g, b), Math.min(r, g, b)];
      const [v, d] = [max, max - min];
      const dc = c => (v - c) / 6 / d + 1 / 2;
      if (d !== 0) {
        s = d / v;
        rr = dc(r);
        gg = dc(g);
        bb = dc(b);

        switch (max) {
          case r:
            h = bb - gg;
            break;
          case g:
            h = (1 / 3) + rr - bb;
            break;
          case b:
            h = (2 / 3) + gg - rr;
            break;
          default:
            // no-default;
            break;
        }
        if (h < 0) {
          h += 1;
        } else if (h > 1) {
          h -= 1;
        }
      }
      return [Math.floor(h * 360), Math.floor(s * 100), Math.floor(v * 100)];
    },
    hex2hsv(hex) {
      return this.rgb2hsv(this.hex2rgb(hex));
    },
    // https://stackoverflow.com/a/9733420
    luminanace(r, g, b) {
      const a = [r, g, b].map((v) => {
        const v2 = v / 255;
        return v2 <= 0.03928
          ? v2 / 12.92
          : ((v2 + 0.055) / 1.055) ** 2.4;
      });
      return a[0] * 0.2126 + a[1] * 0.7152 + a[2] * 0.0722;
    },
    contrast(rgb1, rgb2) {
      const lum1 = this.luminanace(rgb1[0], rgb1[1], rgb1[2]);
      const lum2 = this.luminanace(rgb2[0], rgb2[1], rgb2[2]);
      const brightest = Math.max(lum1, lum2);
      const darkest = Math.min(lum1, lum2);
      return ((brightest + 0.05) / (darkest + 0.05));
    },
    a11y(hex1, hex2, r1, r2) {
      return this.contrast(this.hex2rgb(hex1), this.hex2rgb(hex2)) >= r1
        && this.contrast(this.hex2rgb(hex1), this.hex2rgb(hex2)) <= r2;
    },
    copyColor(c, n) {
      const input = this.$refs.copy;
      input.value = this.colors[c][n - 1];
      input.select();
      input.setSelectionRange(0, 7);
      document.execCommand('copy');
      this.copied = [c, n];
      setTimeout(() => { this.copied = ['d', '1']; }, 2000);
    },
  },
};
</script>
