<template>
  <div>
    <b-row class="my-4">
      <b-col lg="5">
        <h1>
          <img
            :src="`${$t('/')}img/logo.png`"
            alt=""
          />
          <b class="violet">Frama</b><b class="orange">soft</b>
        </h1>
        <h1>
          <img
            :src="`${$t('/')}img/logo-bleu.png`"
            alt=""
          />
          <b class="violet">Frama</b><b class="bleu">libre</b>
        </h1>
        <h1>
          <img
            :src="`${$t('/')}img/logo-rouge.png`"
            alt=""
          />
          <b class="violet">Frama</b><b class="rouge">blog</b>
        </h1>
        <h1>
          <img
            :src="`${$t('/')}img/logo-vert.png`"
            alt=""
          />
          <b class="violet">Frama</b><b class="vert">date</b>
        </h1>
        <h1>
          <img
            :src="`${$t('/')}img/logo-jaune.png`"
            alt=""
          />
          <b class="violet">Frama</b><b class="jaune">colibri</b>
        </h1>
        <h1>Titre h1</h1>
        <hr class="trait" />
        <h2>Titre h2</h2>
        <h3>Titre h3</h3>
        <h4>Titre h4</h4>
        <h5>Titre h5</h5>
        <h6>Titre h6</h6>
      </b-col>
      <b-col lg="7">
        <p>
          <button
            v-for="variant in ['secondary', 'primary', 'success', 'info',
                               'warning', 'danger', 'soutenir', 'link']"
            :key="variant"
            :class="`btn btn-${variant} m-1`"
          >
            <svg-icon
              :label="$t(variant, '-kK')"
              name="egg"
            />
          </button>
        </p>
        <p>
          <button
            v-for="variant in ['secondary', 'primary', 'success', 'info',
                               'warning', 'danger', 'soutenir', 'link']"
            :key="variant"
            :class="`btn btn-${variant} active m-1`"
          >
            <svg-icon
              :label="$t(variant, '-kK')"
              name="egg"
            />
          </button>
        </p>
        <p>
          <button
            v-for="variant in ['secondary', 'primary', 'success', 'info',
                               'warning', 'danger', 'soutenir']"
            :key="variant"
            :class="`btn btn-outline-${variant} m-1`"
          >
            <svg-icon
              :label="$t(variant, '-kK')"
              name="egg"
            />
          </button>
        </p>
        <p>
          <span
            v-for="variant in ['secondary', 'primary', 'success', 'info',
                               'warning', 'danger', 'light', 'dark']"
            :key="variant"
            :class="`badge badge-${variant} m-1`"
          >
            <svg-icon
              :label="$t(variant, '-kK')"
              name="egg"
            />
          </span>
        </p>

        <b-card>
          <ul class="d-flex list-inline">
            <li
              v-for="variant in ['muted', 'primary', 'success', 'info',
                                 'warning', 'danger']"
              :key="variant"
            >
              <a
                :class="`text-${variant}`"
                href="#"
              >
                <svg-icon
                  label="Lien"
                  name="link"
                />
              </a>&nbsp;
            </li>
          </ul>
          <p
            v-for="variant in ['muted', 'primary', 'success', 'info',
                               'warning', 'danger']"
            :key="variant"
            :class="`text-${variant}`"
          >

            <svg-icon name="egg" />
            Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
          </p>
        </b-card>
      </b-col>
    </b-row>

    <b-row>
      <b-col lg="8">
        <div class="alert alert-success">
          <svg-icon name="check-circle" />
          <strong>Well done!</strong> You successfully read
          <a
            href="#"
            class="alert-link"
          >
            <svg-icon
              label="this important alert message"
              name="link"
            />
          </a>.
        </div>
        <div class="alert alert-info">
          <svg-icon name="exclamation-circle" />
          <strong>Heads up!</strong> This
          <a
            href="#"
            class="alert-link"
          >
            <svg-icon
              label="alert needs your attention"
              name="link"
            />
          </a>, but it's not super important.
        </div>
        <div class="alert alert-warning">
          <svg-icon name="exclamation-triangle" />
          <strong>Warning!</strong> Better check yourself, you're
          <a
            href="#"
            class="alert-link"
          >
            <svg-icon
              label="not looking too good"
              name="link"
            />
          </a>.
        </div>
        <div class="alert alert-danger">
          <svg-icon name="times-circle" />
          <strong>Oh snap!</strong>
          <a
            href="#"
            class="alert-link"
          >
            <svg-icon
              label="Change a few things up"
              name="link"
            />
          </a>
          and try submitting again.
        </div>
      </b-col>
    </b-row>
    <b-row
      align-h="center"
    >
      <b-col
        v-for="variant in ['secondary', 'primary', 'success', 'info',
                           'warning', 'danger', 'dark', 'light']"
        :key="variant"
        cols="6"
        md="4"
      >
        <b-card
          :header-bg-variant="variant"
          :header-text-variant="variant === 'light' ? '' : 'white'"
          :border-variant="variant === 'light' ? '' : variant"
          :header="$t(variant, '-kK')"
          class="text-center my-2"
        >
          <b-card-text>Card content</b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
