<template>
  <b-row>
    <b-col lg="12">
      <h1>Images</h1>
      <p>
        Les sources de toutes ces images se trouvent dans
        <a :href="`${$t('/')}img/sources-logo-set.svg`">ce fichier <abbr>.svg</abbr></a>.
      </p>
    </b-col>
    <b-col lg="8">
      <h2>Logo</h2>
      <b-row>
        <b-col
          md="6"
          class="text-center mb-3"
        >
          <img
            :src="`${$t('/')}img/biglogo.png`"
            alt=""
            style="width:300px"
          />
        </b-col>

        <b-col
          md="6"
          class="text-center mb-3"
        >
          <img
            :src="`${$t('/')}img/biglogo-noir.png`"
            alt=""
            style="width:300px"
          />
        </b-col>
      </b-row>

      <b-row>
        <b-col class="text-center my-3">
          <ul class="list-inline text-center">
            <li
              v-for="img in ['', '-bleu', '-rouge', '-vert', '-jaune']"
              :key="img"
              class="list-inline-item"
            >
              <img
                :src="`${$t('/')}img/logo${img}.png`"
                alt=""
              />
            </li>
          </ul>
        </b-col>
      </b-row>
    </b-col>

    <b-col lg="4">
      <b-card bg-variant=" fb-g2 mb-3">
        <p>
          Historiquement, les <cite>Pingouins</cite> de {{ $t('people.lldemars') }}
          sont des manchots&nbsp;: ils ne peuvent pas voler.
        </p>
        <p class="text-center">
          <img
            :src="`${$t('/')}img/pingouinVolantRefait.png`"
            alt=""
            style="width:120px"
          />
        </p>
        <p>
          Ce manchot (<a
            href="http://tofz.org/?displaypic=.priv8%2Fpingouins%2F42.jpg&amp;non_lr="
          >planche originale</a>) a été choisi car il sort de sa condition en
          agissant différemment de ses congénères.
          Ça lui demande de gros efforts aussi bien physiquement que socialement
          et puis il a un air cinglé aussi… un peu comme bien des libristes 😉
        </p>
      </b-card>
    </b-col>

    <b-col md="12">
      <h2>Icônes</h2>
      <h3>Apple Touch Icons</h3>
      <ul class="list-inline">
        <li
          v-for="img in ['violet', 'orange', 'bleu', 'rouge', 'vert', 'jaune']"
          :key="img"
          class="list-inline-item"
        >
          <img
            :src="`${$t('/')}img/apple-${img}.png`"
            alt=""
            width="120"
            height="120"
          />
        </li>
      </ul>
      <h3>Favicons</h3>
      <ul class="list-inline">
        <li
          v-for="img in ['violet','orange', 'bleu', 'rouge', 'vert', 'jaune']"
          :key="img"
          class="list-inline-item"
        >
          <img
            :src="`${$t('/')}img/favicon-${img}.png`"
            alt=""
          />
        </li>
      </ul>
    </b-col>
  </b-row>
</template>
