<template>
  <div>
    <hr class="trait my-5" />
    <b-row>
      <b-col lg="5">
        <h2>Feuille de style</h2>
        <p>Le thème s’appuie sur Bootstrap 4.3, il contient donc les même classes.</p>
        <p>Il contient en plus les classes qui correspondent à la palette ci-dessus.</p>
        <p>
          Elles sont construites avec&nbsp;:
        </p>
        <ul>
          <li>
            un prefix <code>fb-</code> (b = <b>b</b>ackground)
            ou <code>fc-</code> (c = <b>c</b>olor)
            ou <code>fd-</code> (d = bor<b>d</b>er)
          </li>
          <li>
            suivi de la lettre de la couleur (g = gris, m = marron, f = fiolet 😛, b = bleu,
            v = vert, o = orange, r = rouge, j = jaune et d = dark)
          </li>
          <li>et de son rang dans le tableau (de 1 à 9).</li>
        </ul>
        <p>
          Exemple : pour utiliser le framaviolet
          <svg-icon
            name="circle"
            variant="fc-f7"
          />
          <code>#725794</code>
          comme couleur d’arrière-plan, la classe est <code>fb-f7</code>.
        </p>
        <p>
          Il y a également 3 classes supplémentaires&nbsp;:
        </p>
        <ul>
          <li>
            <svg-icon
              name="circle"
              variant="fc-dark"
            />
            <code>fc-dark</code> (= <code>#1f1f1f</code>) et
          </li>
          <li>
            <svg-icon
              name="r-circle"
              variant="fc-d6"
            />
            <code>fc-light</code> ( = <code>#ffffff</code>).
          </li>
          <li>
            <svg-icon
              name="r-circle"
              variant="fc-0"
            />
            <code>fc-0</code> ( = <code>transparent</code>).
          </li>
        </ul>
        <p>
          Les <a
            href="#"
            title="Faux lien (pour illustration)"
          >liens sont soulignés</a>
          à l’aide d’un <code>background</code> et ne sont volontairement pas colorés.
        </p>
      </b-col>
      <b-col
        lg="7"
      >
        <pre><code>body {
  font-family: Roboto,sans-serif;
  color: #1f1f1f;
  background-color: #e2e8f0;
}

.ombre {
  background-color: #ffffff;
  box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.2);
}

h1 { font-family: DejaVu Sans,Verdana,Geneva,sans-serif; }

h2-h6 { font-family: Roboto,sans-serif; }

hr.trait {
  background-color: #edf2f7;
  height: 11px;
}

a {
  color: #1f1f1f;
  background-image:
    linear-gradient(#a87ede, #a87ede),
    linear-gradient(#a0aec0, #a0aec0);
}

a:hover, a:focus { color: #1a202c; }

.signature { color: #68524a; }</code></pre>
      </b-col>
    </b-row>

    <hr class="trait my-4" />

    <b-row align-h="center">
      <b-col
        lg="8"
        xl="9"
      >
        <h2>En pratique</h2>
        <p><strong>Il faut utiliser le moins de couleurs possible.</strong></p>
        <p>
          L’important étant de respecter les thématiques propre à Framasoft (cohérence interne)
          et d’être logique par rapport au rôle fonctionnel lié aux classes de Bootstrap
          dont le sens est communément admis (cohérence externe)&nbsp;:
        </p>
        <table class="table table-bordered">
          <caption class="sr-only">
            Logique des couleurs
          </caption>
          <thead class="fb-g2">
            <tr>
              <th scope="col">
                Couleur
              </th>
              <th scope="col">
                Cohérence interne
              </th>
              <th scope="col">
                Cohérence externe
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <svg-icon
                  name="circle"
                  variant="fc-f7"
                />
                violet
              </td>
              <td>ce qui est générique et relatif à Framasoft</td>
              <td>élément primaire</td>
            </tr>
            <tr>
              <td>
                <svg-icon
                  name="circle"
                  variant="fc-b7"
                />
                bleu
              </td>
              <td>les logiciels libres (qui requièrent une installation)</td>
              <td>élément secondaire, info, lien</td>
            </tr>
            <tr>
              <td>
                <svg-icon
                  name="circle"
                  variant="fc-v6"
                />
                vert
              </td>
              <td>les services en ligne et les liens vers framacloud</td>
              <td>succès, validé, ok…</td>
            </tr>
            <tr>
              <td>
                <svg-icon
                  name="circle"
                  variant="fc-o7"
                />
                orange
              </td>
              <td>ce qui est générique et relatif à Framasoft</td>
              <td>attention, important…</td>
            </tr>
            <tr>
              <td>
                <svg-icon
                  name="circle"
                  variant="fc-r8"
                />
                rouge
              </td>
              <td>la culture libre</td>
              <td>danger, erreur, pas ok…</td>
            </tr>
            <tr>
              <td>
                <svg-icon
                  name="circle"
                  variant="fc-j7"
                />
                jaune
              </td>
              <td>
                les liens «&nbsp;Faire un don&nbsp;» et les outils «&nbsp;en vrac&nbsp;»
                (framacolibri, forum, en vente libre, wiki, etc)
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <p>
          Le
          <svg-icon
            name="circle"
            variant="fc-m7"
          />
          marron ne devrait servir que comme
          couleur de texte alternative au
          <svg-icon
            name="circle"
            variant="fc-dark"
          />
          noir /
          <svg-icon
            name="circle"
            variant="fc-g7"
          />
          gris.
        </p>

        <p>
          En théorie, pour une page web, une vidéo de démo, un diaporama…
          on ne devrait avoir besoin que de 2 couleurs&nbsp;: le violet + une autre
          issue de l’entête du tableau.<br />
          Les autres couleurs du nuancier servent uniquement si on recherche
          un effet de contraste ou de profondeur donc en général
          c’est plutôt pour des éléments graphiques ponctuels.
        </p>

        <h2>Accessibilité</h2>
        <p>
          Les couleurs claires + texte noir sont valides du haut du tableau
          jusqu’au 1er
          <svg-icon
            name="check"
            label="Ratio > 4.5:1 (texte noir)"
            sr-only
          />.
        </p>
        <p>
          Les couleurs foncées + texte blanc sont valides du 2ème
          <svg-icon
            name="check"
            label="Ratio > 4.5:1 (texte blanc)"
            sr-only
          />
          jusqu’à la fin.
        </p>
        <p>
          Entre les deux, les couleurs marqué d’un
          <svg-icon
            name="exclamation-triangle"
            label="Ratio > 3:1 et < 4.5:1"
            sr-only
          />
          peuvent être rendues accessibles&nbsp;:
        </p>
        <ul>
          <li>
            en ajoutant un ombrage sur le texte (ex:
            <code>text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);</code>
            si le texte est blanc). Ça ne passera pas à la validation mais ça améliore
            la lisibilité&nbsp;;
          </li>
          <li>
            en augmentant la taille du texte au delà de 24px. Ça passe à la validation ;
            c’est ce qui est utilisé pour les framatitres.
          </li>
        </ul>
        <p>
          En règle générale, lorsqu’on veut distinguer plusieurs éléments similaires
          (par exemple des boutons),
          il vaut mieux utiliser <strong>des symboles plutôt que des couleurs</strong>
          (on peut aussi combiner les 2).
        </p>

        <h2>Typographie</h2>
        <p>
          En français, pensez à mettre des espaces insécables devant les signes de
          ponctuation double (<code>:!?;</code> etc.), dans le formatage des nombres
          (symboles monétaires, pourcentages, etc) ou avec les guillemets français
          (<code>«</code> et <code>»</code>).<br />
          <b>Rappel&nbsp;:</b> le code HTML de l’espace insécable est <code>&amp;nbsp;</code>
        </p>
        <p>
          En anglais et dans d’autres langues, les guillemets sont <code>“</code>
          et <code>”</code> et non pas <code>"</code> qui sert pour le code.
        </p>
        <p>
          Utilisez des apostrophes typographiques<br />
          <b>Rappel&nbsp;:</b> le code HTML de l’apostrophe typographique est
          <code>&amp;rsquo;</code><br />
          Les points de suspensions ont également un caractère unique plus
          élégant <code>…</code>. Son code HTML est <code>&amp;hellip;</code>
        </p>
        <p>
          Même si c’est tentant, on ne met pas de majuscule au milieu de
          Framasoft, Framapad… Une au début suffit.
        </p>
      </b-col>
    </b-row>
  </div>
</template>
